main {
    padding: var(--padding-desktop);
    background-color: #F5F5F5;
}

@media screen and (max-width:960px) {
    main{
        padding: var(--padding-tablet);
    }
}

@media screen and (max-width:768px) {
   
}

@media screen and (max-width:480px) {
    main {
        padding: var(--padding-mobile);
    }
}
